Flask==3.0.3
torch==2.4.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.19.1 --extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.2.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
gunicorn==22.0.0